body {
	display: flex;
	justify-content: center;
}

header {
	width: 100vw;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.container {
	width: 1280px;
}

.cabecera {
	width: inherit;
	height: 100px;
	display: flex;
	align-items: center;
	background-color: #639CFF;
}
.escudo {
	height: 80px;
	width: auto;
	margin: 0;
	margin-left: 15%;
}
.imgEscudo {
	width: inherit;
	height: inherit;
	filter: drop-shadow(0px 3px 5px #000000);
}

.nombreEscuela {
	padding-left: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 24px;
	letter-spacing: 0.8px; 
	color: white;
	text-shadow: 0px 3px 5px #000000;
}

.navegador {
	width: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #164599;
}

ul {
	width: 1000px;
	padding: 0;
	margin: 5px;
	display: flex;
	list-style: none;
	justify-content: space-evenly;
}

li {
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 16px;
	color: white;
	letter-spacing: 0.8px;
}